.screen1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  background-image: url("https://node.clubecerto.com.br/superapp/images/assets/station/notificationScreen.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 169px;
}

.titleContainer {
  margin-left: 37px;
  margin-top: 3px;
}

.titleNotification {
  font-size: 9px;
  text-align: left;
}

.descriptionContainer {
  margin-left: 38px;
  margin-top: 6px;
  width: 180px;
}

.descripitionNotification {
  font-size: 8px;
  color: #555;
  text-align: left;
}
