.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Nexa Black";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/nexaBlack.otf")
}
@font-face {
  font-family: "Nexa Bold";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/NexaBold.otf");
}
@font-face {
  font-family: "Nexa Book";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/NexaBook.otf");
}
@font-face {
  font-family: "Nexa ExtraBold";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/nexabold.otf");
}
@font-face {
  font-family: "Nexa ExtraLight";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/nexalight.otf");
}

@font-face {
  font-family: "Nexa Regular";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/NexaRegular.otf");
}
.font-regular {
  font-family: "Nexa Regular";
}

@font-face {
  font-family: "Nexa Light";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/NexaLight.otf");
}

@font-face {
  font-family: "Nexa Heavy";
  src: url("https://node.clubecerto.com.br/superapp/images/assets/fonts/NexaHeavy.otf");
}
